    <div class="container">
      <button class="back-button" (click)="goBack()">
        <span>←</span> Back
      </button>
      
      @if (country) {
        <div class="country-details">
          <div class="flag-container">
            <img [src]="country.flag" [alt]="country.name + ' flag'">
          </div>
          
          <div class="info-container">
            <h1>{{ country.name }}</h1>
            
            <div class="details-grid">
              <div class="details-column">
                <p><b>Native Name:</b> {{ country.name }}</p>
                <p><b>Population:</b> {{ country.population | number }}</p>
                <p><b>Region:</b> {{ country.region }}</p>
                <p><b>Capital:</b> {{ country.capital }}</p>
              </div>
            </div>
            <div class="borders" *ngIf="borderCountries.length">
              <b>Border Countries:</b>
              <ng-container *ngFor="let border of borderCountries">
                <button class="border-btn" (click)="goToCountry(border.code)">{{ border.name }}</button>
              </ng-container>
            </div>
          </div>
        </div>
      } @else {
        <div class="loading">Loading...</div>
      }
    </div>